
<div>

    <p>
        Quality of Service<i class="fas fa-star"style="font-size:54px color:white;"></i> <i class="fas fa-star"style="font-size:54px color:white;"></i>
        <br>Speed of Service<i class="fa fa-star "style="font-size:24px color:white;"></i>
        <br>Quality of Food<i class="fas fa-star"style="font-size:24px color:white;"></i><i class="fas fa-star"style="font-size:24px color:white;"></i><i class="fas fa-star"style="font-size:24px color:white;"></i><i class="fas fa-star"style="font-size:24px color:white;"></i>
        <br> How Busy the Hall is<i class="fas fa-users"style="font-size:24px color:white;"></i><i class="fas fa-users"style="font-size:24px color:white;"></i><i class="fas fa-users"style="font-size:24px color:white;"></i>
    </p>
</div>
</body>