    <title>How To Eat This</title>
    <meta charset="utf-8">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">


    <h1><i class="fas fa-paw"></i> How to Eat This?<i class="fas fa-paw"></i></h1>
    <br>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        p{font-family: "Arial",Arial, sans-serif; font-size:28pt; color: #ff1700;margin-right:250px;text-align: left;margin-left:10%;margin-top:10%}
        h1{text-align: center;  background-color: #ff1700;}
        body, html {  height: 100%;margin: 0;}
        .backGround{
            position:fixed;
            width:fit-content;
            height:100vh;
            z-index:-1000;
            top:0;
            left:0;
        }
    </style>
</head>
<body>
<div class="backGround">
    <img src = "/public/images/background.jpg">
</div>
<div>

        <p>
            <i class="fas fa-utensils"style="font-size:54px color:white;"></i><a href="bearsDen.html">Bears Den</a>
            <br><i class="fa fa-trash "style="font-size:24px color:white;"></i><a href="eastCampusCrap.html">ECC</a>
            <br><i class="fas fa-pizza-slice"style="font-size:24px color:white;"></i><a href="crimson.html">Crimson</a>
            <br><i class="fas fa-hamburger"style="font-size:24px color:white;"></i><a href="tilly.html">Tilly</a>
        </p>
</div>


</body>
